/**
 * set its position vertically middle related to its parent element
 */
.vmiddle
{ 
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
} 

#skin_name::before
{
	content: "블랙 앤 화이트" !important;
}

#scene1
{
	margin-bottom: 50px;
	height: 400px;
}
#scene1 #word1
{
	font-size: 5rem;
}

#scene2
{
	margin-bottom: 50px;
}

#scene3
{
	margin-bottom: 50px;
}

#scene4
{
	margin-bottom: 50px;
}

#scene5
{
	margin: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}

#clock
{
	background-color: black;
}